.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
}

.features {
  display: flex;
}

.features__list {
  display: flex;
}

.features__item {
  align-items: baseline;
  flex-direction: column;
}

.features__options {
  display: flex;
  justify-content: space-between;
}

.button-primary {
  display: flex;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.news__item {
  flex: 1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
}

.about__info {
  display: flex;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.footer__list {
  display: flex;
}

.socials {
  display: flex;
  justify-items: center;
  align-items: center;
}

.services__preview {
  display: flex;
  flex-direction: column;
}

.container__services__preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs__menu {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.services__offers {
  display: flex;
  flex-direction: column;
}

.services__offer {
  display: flex;
  justify-content: flex-start;
}

.offer__text {
  flex: 1;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
}