.partners--bg--grey {
  background: #F4F5F5;
}

.partners__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 82px;
  color: #1A1B1E;
}

.partners {
  background: #F4F5F5;
  padding: 88px 0 36px 0;
}

.partners__item {
  min-width: 230px;
  max-width: 300px;
  margin-bottom: 64px;
}

.partners__link {
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n+1) {
  justify-content: flex-start;
  max-width: 265px;
}

.partners__item:nth-child(4n+4) {
  justify-content: flex-end;
  max-width: 273px;
}