.preview {
  margin-bottom: 168px;
}

.preview-general {
  position: relative;
  width: 900px;
  text-align: center;
  margin: 0 auto 230px auto;
}

.preview-general__title {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.35;
  margin-bottom: 16px;
  letter-spacing: 0.5;
}

.preview-general__info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.42;
  margin-bottom: 38px;
}

.features {
  text-align: center;
}

.features__list {
  text-align: left;
  align-items: stretch;
}

.features__item {
  width: calc(100% / 3 - 21px);
}

.feature {
  min-height: 487px;
  vertical-align: top;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 20px 20px 62px 20px;
  margin-right: 27px;
}

.features__item:nth-child(even) {
  border: 5px solid #CCCCCC;
  padding: 15px 15px 55px;
}

.features__item:last-child {
  margin-right: 0px;
}

.features__icon {
  margin: 19px 0px 30px 6px;
}

.features__title {
  font-style: normal;
  font-weight: bold;
  color: black;
  font-size: 32px;
  line-height: 1.42;
  text-align: left;
  margin-bottom: 18px;
}

.features__options {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #666666;
  margin-bottom: 26px;
}

.features__option {
  margin-right: 64px;
}

.features__option:last-child {
  margin-right: 0px;
}

.features__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
  color: #666666;
  margin-bottom: 26px;
  letter-spacing: 0.6px;
}

.button-primary {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 53px;
  text-transform: uppercase;
  border: 2px solid #FF5500;
  color: white;
}

.btn--feature {
  margin-top: auto;
}

.button-primary:hover {
  background: #FF5500;
}

.btn--color--white {
  background: white;
  color: #FF5500;
}

.btn--color--orange {
  background: #FF5500;
}

.btn--color--white:hover {
  background: #FF3D00;
  color: white;
}

.btn--color--orange:hover {
  background: #FF3D00;
}