.header {
  padding-top: 25px;
  min-height: 170px;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__preview {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}


.menu__item {
  display: inline-flex;
}







.feature {
  display: flex;
  flex-direction: column;
}

.features {
  display: flex;
}

.features__item {
  display: inline-flex;
  align-items: baseline;
  flex-direction: column;
}

.features__options {
  display: flex;
  justify-content: space-between;
}

.button-primary {
  display: inline-flex;
}







.news__list {
  display: flex;
  justify-content: space-between;
}

.news__item {
  flex: 1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list {
  display: flex;
  align-items: center;  
}

.pagination__item {
  text-align: center;
}











.about__info {
  display: flex;
}


// .about__content {
//   display: inline-flex;
//   flex-direction: column;
//   align-items: baseline;
// }











.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.footer__list {
  display: inline-flex;
}


.socials {
  display: inline-flex;
  justify-items: center;
  align-items: center;
}



















.services__preview {
  display: flex;
  flex-direction: column;
}

.container__preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}








.breadcrumbs__menu {
  display: flex;
}

.services__offers {
  display: flex;
  flex-direction: column;
}


.services__offer {
  justify-content: flex-start;
  display: inline-flex;
}






.offer__text {
  flex: 1;
}

// .partners__logo {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: baseline;
// }


.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
