.about {
    display: flex;
}

.about__info {
    margin-bottom: 52px;
}

.about__content {    
    width: 1450px;
    background: url(../../images/content/my-photo-big.jpg) left -62px bottom -429px no-repeat;
}


.container__about {
    display: flex;
    flex-direction: column;
    padding: 115px 230px;
    color: white;
}

.about__title {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 34px;
}

.about__title--special {
    font-weight: bold;
}

.about__text {
    font-family: "Palanquin";
    font-size: 18px;
    font-weight: normal;
    max-width: 628px;
    margin-left: 5px;
    line-height: 1.42;
}



.about__form {
    margin-left: 20px;
    max-width: 590px;
}

.form__title {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 31px;
}

.form__row {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.type__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 15px;
    background: black;

    
    font-family: "Palanquin";
    font-weight: normal;
    font-size: 16px;
    padding: 14px 20px;
    border: 1px solid white;
    color: white;
}

.type__form:last-child {
    margin-right: 0;
}

.type__message {    
    font-family: "Palanquin";
    font-weight: normal;
    font-size: 16px;
    padding: 14px 20px;
    border: 1px solid white;
    color: white;    
    background: black;

    width: 100%;
    min-height: 128px;
}

.type__form:focus, .type__message:focus {    
  outline: none;
}

.button-primary {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 0;

    font-family: "Palanquin";
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background: #2b8d87;
    outline: none;
    border: none;
}