.footer--border--top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  background: #17191C;
  margin-top: auto;
  padding: 44px 0;
}

.container-footer {
  color: white;
  position: relative;
  padding-bottom: 1px;
}

.menu__footer {
  margin-left: 134px;
}

.footer__item {
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;
  margin-right: 53px;
}

.footer__item:last-child {
  margin-right: 0;
}

.socials {
  margin-right: 61px;
}

.socials__item {
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("../../images/logo/soc/telegram.svg");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("../../images/logo/soc/telegram-hover.svg");
}

.socials__item--icon--vk .socials__link {
  background-image: url("../../images/logo/soc/vk.svg");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("../../images/logo/soc/vk-hover.svg");
}

.socials__item--icon--facebook .socials__link {
  background-image: url("../../images/logo/soc/f.svg");
}

.socials__item--icon--facebook .socials__link:hover {
  background-image: url("../../images/logo/soc/f-hover.svg");
}

.socials__item--icon--instagram .socials__link {
  background-image: url("../../images/logo/soc/in.svg");
}

.socials__item--icon--instagram .socials__link:hover {
  background-image: url("../../images/logo/soc/in-hover.svg");
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.footer__link:hover {
  color: #FF3D00;
}

.footer__contacts {
  position: relative;
  right: 0px;
  text-align: right;
}

.contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.42;
  margin-bottom: 4px;
}

.contacts__info {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.82;
  color: #9A9A9A;
}