.header {
  margin-bottom: 135px;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.container__header {
  height: 98px;
  position: relative;
  color: white;
}

.menu__item {
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #FF3D00;
}

.contacts {
  text-align: right;
}

.contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.42;
  margin-bottom: 4px;
}

.contacts__dropdown--title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.54;
  color: #FF3D00;
}