.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 43px 80px;
    min-height: 1050px;
    min-width: 468px;        
    color: white;    
    background: url(../../images/content/my-photo-small.jpg) right -182px bottom -80px no-repeat;
}

.header-about {
    background: none;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background: white;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    pointer-events: none;
}


.header__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 77px;
}

.header__name {
    font-size: 38px;
    font-weight: 800;
    font-family: "Montserrat";
    text-transform: uppercase;
    
    margin-bottom: 17px;
    margin-left: 19px;
}

.header__name--green {  
    color: #2b8d87;
}

.header__work {
    font-family: "Palanquin";
    font-size: 22px;
    font-weight: 300;
    margin-left: 21px;
}

.menu {
    margin-bottom: 65px;
}

.menu__list {
    font-family: "Palanquin";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
}


.menu__item {
    margin-bottom: 50px;
}

.menu__item:hover {    
    color: #2b8d87;
    transition: 0.3s;
}

.menu__item--active {    
    font-family: "Palanquin";
    font-size: 22px;
    font-weight: bold;
    color: #2b8d87;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    margin-left: 51px;
}

.socials__item {
    position: relative;
    justify-content: center;
    margin-bottom: 78px;
}

.socials__item:last-child {
    margin-bottom: 0;
}

.socials__item--icon--facebook .socials__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px; height: 33px;
  background: url('../../images/logo/socials/css_sprites.png') -109px -10px;
  opacity: 0.6;
  transition: 0.3s;
}

.socials__item--icon--facebook .socials__link:hover::before {
  opacity: 1;
}


.socials__item--icon--google-plus .socials__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -50%);
    width: 29px;
    height: 25px;
    background: url(../../images/logo/socials/css_sprites.png) -59px -10px;
    opacity: 0.6;
    transition: 0.3s;
}

.socials__item--icon--google-plus .socials__link:hover::before {
  opacity: 1;
}


.socials__item--icon--twitter .socials__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 31px;
    background: url(../../images/logo/socials/css_sprites.png) 124px 41px;
    opacity: 0.6;
    transition: 0.3s;
}

.socials__item--icon--twitter .socials__link:hover::before {
  opacity: 1;
}


.socials__item--icon--dribbble .socials__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: url(../../images/logo/socials/css_sprites.png) -10px -10px;
    opacity: 0.6;
    transition: 0.3s;
}

.socials__item--icon--dribbble .socials__link:hover::before {
  opacity: 1;
}







.my__photo {
    position: absolute;
    height: 920px;
    width: 759px;
    transform: translate(49%, -40%);
}