.menu {
  padding-top: 16px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #FF3D00;
  transition: 0.3s;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
  flex-direction: column;
}

.contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1;
}

.contacts__dropdown--title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  color: #FF3D00;
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}

.triangle {
  position: absolute;
  border: 10px solid transparent;
  left: -9999px;
  margin-top: 15px;
  width: 0px;
  height: 0px;
  border-bottom-color: #CDD1D2;
  border-top-width: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
}

.dropdown__menu {
  position: absolute;
  padding: 10px 19px 15px;
  transform: translate(19%, -5%);
  text-align: left;
  border-radius: 5px;
  margin-top: 25px;
  width: 160px;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  color: #1E1F20;
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
  left: -9999px;
  background: #CDD1D2;
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 8px;
  position: absolute;
}

.dropdown__menu--special {
  font-weight: bold;
}

.dropdown:hover .dropdown__menu {
  display: block;
  left: 0;
  opacity: 1;
}

.dropdown:hover .triangle {
  display: block;
  left: 127px;
  opacity: 1;
}