.services__preview {
  margin-bottom: 125px;
  min-height: 382px;
}

.services__title {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: white;
  text-transform: uppercase;
  position: relative;
  bottom: 50px;
  margin-bottom: 30px;
}

.breadcrumbs__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9A9A9A;
}

.breadcrumbs__item::before {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumbs__item:first-child::before {
  content: "";
  margin: 0;
}

.breadcrumbs__item-special {
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
}

.breadcrumbs__item-underline {
  text-decoration: underline;
}

.services__content {
  background: #E5E5E5;
  margin-bottom: 85px;
}

.services__offers {
  margin-bottom: 61px;
}

.services__offer {
  margin-bottom: 48px;
}

.services__offer:last-child {
  margin-bottom: 18px;
}

.offer__img {
  width: 40%;
  margin-right: 5%;
}

.offer__text {
  box-sizing: border-box;
  padding-top: 21px;
}

.offer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 30px;
}

.offer__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #303030;
  margin-bottom: 32px;
}

.partners--bg--grey {
  background: #F4F5F5;
}

.partners__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #1A1B1E;
}

.partners__link {
  width: 270px;
  height: 100px;
}

.container__partners {
  box-sizing: border-box;
  padding-top: 17px;
  min-height: 539px;
}

.partners {
  background: #F4F5F5;
  box-sizing: border-box;
}

.partners__title {
  margin-top: 70px;
  margin-bottom: 72px;
}

.partners__list {
  margin-bottom: 60px;
  width: 1101px;
}

.partners__item {
  margin-left: 20px;
}

.partners__link {
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n+1) {
  margin-left: -45px;
}