.menu__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;
}

.contacts__phone {  
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.42;
}

.contacts__schedule {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.54;
}