.about__title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.42;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.69;
}