.preview-general {
  position: relative;
  width: 900px;
  text-align: center;
  left: 121px;
  margin-bottom: 219px;
}

.preview-general__title {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.35;
  color: white;
  margin-bottom: 16px;
  letter-spacing: 0.5;
}

.preview-general__info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.42;
  color: white;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.features {
  position: relative;
  left: 0px;
  display: inline-block;
  text-align: center;
}

.features__list {
  display: inline;
  text-align: left;
}

.features__item {
  width: 317px;
  height: 435px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 20px;
  margin: 13px;
}

.features__item:nth-child(even) {
  border: 5px solid #CCCCCC;
  padding: 15px;
}

.features__item:first-child {
  margin-left: 0px;
}

.features__item:last-child {
  margin-right: 0px;
}

.features__icon {
  margin-top: 22px;
  margin-left: 6px;
  margin-bottom: -4px;
}

.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.42;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 18px;
}

.features__options {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #666666;
  text-align: left;
}

.features__option {
  display: inline-block;
  width: 50%;
}

.features__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
  color: #666666;
}