.preview-general__title {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.36;
}

.preview-general__info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
}

.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.42;
}

.features__options {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
}

.features__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
}